
/*Section1*/
.trading{
	padding-top: 7%;
}

.rot-180{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.one{
	padding:  5% ;
}
.qt1{
	padding: 1%;
}

/*Section2-baner*/
.baner{
	background-image:url("../img/background-about-us.jpg"); 
	background-repeat: no-repeat;
	background-size: cover;
	padding: 2% 0% 10% 0%;
	text-align: center;
}
.sentient{
	padding: 4% 12%;
	line-height: 180%;
}
.title2{
	padding: 5%;
}
.btn1{
	padding: 1% 5%;
	background-color:#002366;
	border-radius: 5px;
}
.apply{
	padding: 5% 0%;
}
.btn2{
	padding: 3% 20%;
	background-color:#179AD6;
	border-radius: 5px;
	margin-bottom: 2%;
}
.sound{
	padding: 0% 0% 0% 17%;
	font-size: 30px;
}
.contacform{
	padding-top: 5%;
}
.founders p {
		margin: 0;
		font-size: 18px;
}
.btn3{
	padding: 3% 10%;
	border: 2px solid white;
	border-radius: 5px;
}
.txt-6 {
	padding: 2% 15%;
}

/*Section3*/
.btn4{
	padding: 1% 7%;
	background-color:#179AD6;
	border-radius: 5px;
	margin-bottom: 2%;
}

/*Footer*/

footer{
	border-top: 1px solid #979797;
	padding-top: 2%;
	line-height: 2.5;
}
footer a {
	text-decoration: none;
	color: #606060;
}


@media screen and (max-width: 800px) {   
    .menu{
    	display: none;
    }

    .trading{
		padding-top: 20%;
	}
	
	.rot-180{
		display: block;
		padding: 2% 48%; 

	}	
	.photos [class*="col-xs"]{
		width: 50%;
		margin: 2% 25%;
	}

    .menu {
    	width: 80%;
    	height: 100%;
    	position: fixed;
    	background-color: #979797;
    	text-align: left;
    	padding: 0%;
    }
	.sentient {
		font-size: 17px;
	}
	.sound{
		font-size: 15px;
	}
	.menu-bar .bt-menu{
		display: block;
		font-weight: bold;
		font-size: 25px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;	
	}
	.menu-bar span{
		float:right;
		font-size: 40px;
	}
    .menu span{
    	display: none;
    }	
	.menu a {
		display:block;
		color:white;
		border-bottom: 2px solid white;
		padding: 10% 0% 10% 2%;
	}
	.title1{
		font-size: 30px;
	}
	.sound{
		padding: 0%;
	}
	[class*="col-xs"] {
		text-align: center;
	}	
	.one [class*="col-xs"] {
		background-color: white;
	}
}