
a:hover, a:focus{
	text-decoration: none !important; 
}

/*header*/
#navegador{
	 border-bottom:1px solid gray;
	 position: fixed;
	 z-index: 1;
	 background: white;
	 width: 100%;
}
.nav-header{
	background: red;
}
.navbar-default {
    background-color: white;
    border-color: #e7e7e7;
    transform:translateY(-1px);
}
.navbar-brand{
	background-color: white;
	padding: 0;
	border-style: none;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #002366;
}

/*footer*/
footer{
	border-top: 1px solid #979797;
	padding-top: 2%;
	line-height: 2.5;
}
footer a {
	text-decoration: none;
	color: #606060;
}
footer p{
	font-size: 15px;
}