/*Global*/
*{
	font-family: "ProxnovaLight";
	font-size: 24px;
}

@font-face{
	font-family: ProxnovaLight;
	src: url(../fonts/proximanova-light-webfont.ttf);
}
@font-face{
	font-family:ProxnovaRegular;
	src: url(../fonts/proximanova-regular-webfont.ttf);
}
@font-face{
	font-family: ProxnovaRitalic;
	src: url(../fonts/proximanova-regitalic-webfont.ttf);
}
@font-face{
	font-family: PronovaSemibold;
	src: url(../fonts/proximanova-Semibold-webfont.ttf);
}

@font-face{
	font-family: ProxnovaBold;
	src: url(../fonts/proximanova-bold-webfont-webfont.ttf);
}


/* Shortcuts */

.pd-0{
	padding: 0;
}
.pt-5{
	padding-top: 5%;
}
.pb-5{
	padding-bottom: 5%;
}
.mg-0{
	margin: 0;
}
.w-100{
	width: 100%;
}
.lh{
	line-height: 1.5;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-blue{
	color: #002366;
}
.text-skyblue{
	color: #179AD6;
}
.text-plomo{
 color: #606060;
}
.text-gris{
 color: #979797;
}
.text-blanco{
	color:#F6F6F6;
}
.a-none-decoration{
	text-decoration: none;
}
.bg-gray{
	background-color: rgb(244, 244, 244);
}
.bg-img-block{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}